body {
  /* background-color: #fefefe; */
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f6fd;
}
form {
  background-color: #04021f;
  padding: 20px;
  border-radius: 10px;
}

table,
td,
tr {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  padding: 15px;
}
#heading {
  font-size: 2.5rem;

  text-align: center;
}
.projectName {
  text-decoration: none;
}

#logout {
  margin: 10px 25px;
  padding: 10px;
  background-color: red;
  border-radius: 10px;
  color: whitesmoke;
  text-decoration: none;
  font-size: large;
}

#ip-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.ip-fields {
  margin: 10px;
  color: whitesmoke;
}
.errors {
  display: none;
  color: red;
}
#login {
  display: flex;
  justify-content: center;
  color: white;
  text-align: center;
  background-color: #1e89ef;
  border: none;
  height: 40px;
  width: 100px;
  border-radius: 10px;
}
#login:hover {
  cursor: pointer;
}

#login-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}
#forgot {
  text-align: right;
  color: #adb4ff;
  text-decoration: none;
}
#forgot:hover {
  color: whitesmoke;
  text-decoration: underline;
}
#submit {
  display: flex;
  justify-content: center;
  color: white;
  text-align: center;
  background-color: #00b900;
  border: none;
  height: 40px;
  width: 100px;
  border-radius: 10px;
}

#submit-div {
  width: 300px;
  overflow-wrap: break-word;
}
input {
  margin: 5px 0;
  font-size: medium;
  height: 35px;
  width: 300px;
  border: none;
  padding: 10px;
}
#mess-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

/* projects.css */

#table-holder {
  padding: 25px 0;
}
#table-div {
  background-color: #04021f;
  color: white;
  width: 30vw;
  margin: 10px auto;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#task-table {
  margin: auto auto;
  color: whitesmoke;
}

#task-table a {
  color: #adb4ff;
}
#task-table a:hover {
  text-decoration: underline;
  color: white;
}

.heads {
  font-size: large;
  color: #e5e5ff;
  font-weight: bold;
}
.num-cell {
  width: 70px;
  text-align: center;
}

#logout-div {
  display: flex;
  justify-content: end;
  width: 135px;
  position: absolute;
  right: 0;
  top: 0;
}
