<div id="education" style="display: none">
  <fieldset>
    <legend>
      <h3><cite>Education</cite></h3>
    </legend>

    <div id="sscSec">
      <table>
        <td>
          <abbr title="Seconday School Certificate"><b>SSC</b></abbr>
        </td>
        <td><label for="boardname">Name of board:</label></td>
        <td>
          <input
            type="text"
            name="boardname"
            id="ssc"
            onkeyup="enableEdu(this)"
          />

          <span class="error"><p id="ssc_error"></p></span>
        </td>
        <td><label for="passingyear">Passing year:</label></td>
        <td>
          <input type="text" name="passingyear" id="passingyearssc" />

          <span class="error"><p id="passingyearssc_error"></p></span>
        </td>
        <td>
          <label for="passingpercentage">Passing percentage:</label>
        </td>
        <td>
          <input
            type="text"
            name="passingpercentage"
            id="passingpercentagessc"
            max="100"
            min="30"
          />

          <span class="error"><p id="passingpercentagessc_error"></p></span>
        </td>
      </table>
    </div>
    <hr />
    <div id="hscSec">
      <table>
        <td>
          <abbr title="Higher School Certificate"><b>HSC</b></abbr>
        </td>
        <td><label for="boardname">Name of board:</label></td>

        <td>
          <input
            type="text"
            name="boardname"
            id="hsc"
            onkeyup="enableEdu(this)"
          />

          <span class="error"><p id="hsc_error"></p></span>
        </td>
        <td><label for="passingyear">Passing year:</label></td>
        <td>
          <input type="text" name="passingyear" id="passingyearhsc" />

          <span class="error"><p id="passingyearhsc_error"></p></span>
        </td>
        <td>
          <label for="passingpercentage">Passing percentage:</label>
        </td>
        <td>
          <input
            type="text"
            name="passingpercentage"
            id="passingpercentagehsc"
            max="100"
            min="30"
          />

          <span class="error"><p id="passingpercentagehsc_error"></p></span>
        </td>
      </table>
    </div>
    <hr />
    <div id="bachelorSec">
      <table>
        <td>
          <abbr><b>Bachelor</b></abbr>
        </td>
        <td>
          <label for="boardname">Name of Board:</label>
        </td>
        <td>
          <input
            type="text"
            name="boardname"
            id="bachelor"
            onkeyup="enableEdu(this)"
          />

          <span class="error"><p id="bachelor_error"></p></span>
        </td>
        <td><label for="passingyear">Passing year:</label></td>
        <td>
          <input type="text" name="passingyear" id="passingyearbachelor" />

          <span class="error"><p id="passingyearbachelor_error"></p></span>
        </td>
        <td>
          <label for="passingpercentage">Passing percentage:</label>
        </td>
        <td>
          <input
            type="text"
            name="passingpercentage"
            id="passingpercentagebachelor"
            max="100"
            min="30"
          />

          <span class="error"
            ><p id="passingpercentagebachelor_error"></p
          ></span>
        </td>
      </table>
    </div>
    <hr />
    <div id="masterSec">
      <table>
        <td>
          <abbr><b>Master</b></abbr>
        </td>
        <td>
          <label for="boardname">Name of Board:</label>
        </td>
        <td>
          <input
            type="text"
            name="boardname"
            id="master"
            onkeyup="enableEdu(this)"
          />

          <span class="error"><p id="master_error"></p></span>
        </td>
        <td><label for="passingyear">Passing year:</label></td>
        <td>
          <input type="text" name="passingyear" id="passingyearmaster" />

          <span class="error"><p id="passingyearmaster_error"></p></span>
        </td>
        <td>
          <label for="passingpercentage">Passing percentage:</label>
        </td>
        <td>
          <input
            type="text"
            name="passingpercentage"
            id="passingpercentagemaster"
            max="100"
            min="30"
          />

          <span class="error"><p id="passingpercentagemaster_error"></p></span>
        </td>
      </table>
    </div>
  </fieldset>
</div>
