<div id="education" style="display: none">
  <fieldset>
    <legend>
      <h3><cite>Education</cite></h3>
    </legend>

    <div id="sscSec">
      <table>
        <td>
          <abbr title="Seconday School Certificate"><b>SSC</b></abbr>
        </td>
        <td><label for="boardname">Name of board:</label></td>
        <td>
          <input type="text" name="boardname" id="ssc" />

          <span class="error" id="ssc_error">Enter board name</span>
        </td>
        <td><label for="passingyear">Passing year:</label></td>
        <td>
          <input type="text" name="passingyear" id="passingyearssc" />

          <span class="error" id="passingyearssc_error"
            >Enter passing year</span
          >
        </td>
        <td>
          <label for="passingpercentage">Passing percentage:</label>
        </td>
        <td>
          <input
            type="text"
            name="passingpercentage"
            id="passingpercentagessc"
            max="100"
            min="30"
          />

          <span class="error" id="passingpercentagessc_error"
            >Enter percentage</span
          >
        </td>
      </table>
    </div>
    <hr />
    <div id="hscSec">
      <table>
        <td>
          <abbr title="Higher School Certificate"><b>HSC</b></abbr>
        </td>
        <td><label for="boardname">Name of board:</label></td>

        <td>
          <input type="text" name="boardname" id="hsc" />

          <span class="error" id="hsc_error">Enter board name</span>
        </td>
        <td><label for="passingyear">Passing year:</label></td>
        <td>
          <input type="text" name="passingyear" id="passingyearhsc" />

          <span class="error" id="passingyearhsc_error"
            >Enter passing year</span
          >
        </td>
        <td>
          <label for="passingpercentage">Passing percentage:</label>
        </td>
        <td>
          <input
            type="text"
            name="passingpercentage"
            id="passingpercentagehsc"
            max="100"
            min="30"
          />

          <span class="error" id="passingpercentagehsc_error"
            >Enter passing percentage</span
          >
        </td>
      </table>
    </div>
    <hr />
    <div id="bachelorSec">
      <table>
        <td>
          <abbr><b>Bachelor</b></abbr>
        </td>
        <td>
          <label for="boardname">Name of Board:</label>
        </td>
        <td>
          <input type="text" name="boardname" id="bachelor" />

          <span class="error" id="bachelor_error">Enter board</span>
        </td>
        <td><label for="passingyear">Passing year:</label></td>
        <td>
          <input type="text" name="passingyear" id="passingyearbachelor" />

          <span class="error" id="passingyearbachelor_error"
            >Enter passing year</span
          >
        </td>
        <td>
          <label for="passingpercentage">Passing percentage:</label>
        </td>
        <td>
          <input
            type="text"
            name="passingpercentage"
            id="passingpercentagebachelor"
            max="100"
            min="30"
          />

          <span class="error" id="passingpercentagebachelor_error"
            >Enter passing percentage</span
          >
        </td>
      </table>
    </div>
    <hr />
    <div id="masterSec">
      <table>
        <td>
          <abbr><b>Master</b></abbr>
        </td>
        <td>
          <label for="boardname">Name of Board:</label>
        </td>
        <td>
          <input type="text" name="boardname" id="master" />

          <span class="error" id="master_error">Enter board name</span>
        </td>
        <td><label for="passingyear">Passing year:</label></td>
        <td>
          <input type="text" name="passingyear" id="passingyearmaster" />

          <span class="error" id="passingyearmaster_error"
            >Enter passing year</span
          >
        </td>
        <td>
          <label for="passingpercentage">Passing percentage:</label>
        </td>
        <td>
          <input
            type="text"
            name="passingpercentage"
            id="passingpercentagemaster"
            max="100"
            min="30"
          />

          <span class="error" id="passingpercentagemaster_error"
            >Enter passing percentage</span
          >
        </td>
      </table>
    </div>
  </fieldset>
</div>
