<div id="language" style="display: none">
  <fieldset>
    <legend>
      <h3>Language known</h3>
    </legend>
    <div id="lang_hindi">
      <input
        type="checkbox"
        name="language"
        id="hindi"
        value="hindi"
        onchange="checkLang(this)"
      />
      <label for="hindi">Hindi</label>
      <input
        type="checkbox"
        name="hindi_efficiency[]"
        id="hindiRead"
        value="Read"
        class="disabledClass"
        disabled
      />
      <label for="hindiRead">read</label>
      <input
        type="checkbox"
        name="hindi_efficiency[]"
        id="hindiWrite"
        value="Speak"
        class="disabledClass"
        disabled
      />
      <label for="hindiWrite">speak</label>
      <input
        type="checkbox"
        name="hindi_efficiency[]"
        id="hindiSpeak"
        value="Write"
        class="disabledClass"
        disabled
      />
      <label for="hindiSpeak">write</label>
    </div>
    <hr />
    <div id="lang_english">
      <input
        type="checkbox"
        name="language"
        id="english"
        value="english"
        onchange="checkLang(this)"
      />
      <label for="english">English</label>
      <input
        type="checkbox"
        name="english_efficiency[]"
        id="englishRead"
        value="Read"
        class="disabledClass"
        disabled
      />
      <label for="englishRead">read</label>
      <input
        type="checkbox"
        name="english_efficiency[]"
        id="englishWrite"
        value="Speak"
        class="disabledClass"
        disabled
      />
      <label for="englishWrite">speak</label>
      <input
        type="checkbox"
        name="english_efficiency[]"
        id="englishSpeak"
        value="Write"
        class="disabledClass"
        disabled
      />
      <label for="englishSpeak">write</label>
    </div>
    <hr />
    <div id="lang_gujarati">
      <input
        type="checkbox"
        name="language"
        id="gujarati"
        value="gujarati"
        onchange="checkLang(this)"
      />
      <label for="gujarati">Gujarati</label>
      <input
        type="checkbox"
        name="gujarati_efficiency[]"
        id="gujaratiRead"
        value="Read"
        class="disabledClass"
        disabled
      />
      <label for="gujaratiRead">read</label>
      <input
        type="checkbox"
        name="gujarati_efficiency[]"
        id="gujaratiWrite"
        value="Speak"
        class="disabledClass"
        disabled
      />
      <label for="gujaratiWrite">speak</label>
      <input
        type="checkbox"
        name="gujarati_efficiency[]"
        id="gujaratiSpeak"
        value="Write"
        class="disabledClass"
        disabled
      />
      <label for="gujaratiSpeak">write</label>
    </div>
  </fieldset>
</div>
