<div id="preference" style="display: none">
  <fieldset>
    <legend>
      <h3>Preference</h3>
    </legend>
    <table>
      <tr>
        <td><label for="prefLocation">Prefered location:</label></td>
        <td>
          <input type="text" name="prefLocation" id="prefLocation" />

          <span class="error"><p id="prefLocation_error"></p></span>
        </td>
        <td><label for="currCTC"> Current CTC:</label></td>
        <td>
          <input type="text" name="currCTC" id="currCTC" placeholder="LPA" />

          <span class="error"><p id="currCTC_error"></p></span>
        </td>
        <td><label for="expCTC">Expected CTC:</label></td>
        <td>
          <input type="text" name="expCTC" id="expCTC" placeholder="LPA" />

          <span class="error"><p id="expCTC_error"></p></span>
        </td>
        <td><label for="department">Department:</label></td>
        <td>
          <input type="text" name="department" id="department" />

          <span class="error"><p id="department_error"></p></span>
        </td>
      </tr>
    </table>
  </fieldset>
</div>
