<div id="technology" style="display: none">
  <fieldset>
    <legend>
      <h3>Technologies known</h3>
    </legend>
    <div id="tech_php">
      <input
        type="checkbox"
        name="php"
        id="php"
        value="php"
        onchange="checkTech(this)"
      />
      <label for="php">php</label>
      <input
        type="radio"
        name="php"
        id="phpBeginner"
        value="Beginner"
        disabled
      />
      <label for="phpBeginner">Beginner</label>
      <input
        type="radio"
        name="php"
        id="phpMediator"
        value="Mediator"
        disabled
      />
      <label for="phpMediator">Mediator</label>
      <input type="radio" name="php" id="phpExpert" value="Expert" disabled />
      <label for="phpExpert">Expert</label>
    </div>
    <hr />
    <div id="tech_MySql">
      <input
        type="checkbox"
        name="MySql"
        id="MySql"
        value="MySql"
        onchange="checkTech(this)"
      />
      <label for="MySql">MySql</label>
      <input
        type="radio"
        name="MySql"
        id="MySqlBeginner"
        value="Beginner"
        disabled
      />
      <label for="MySqlBeginner">Beginner</label>
      <input
        type="radio"
        name="MySql"
        id="MySqlMediator"
        value="Mediator"
        disabled
      />
      <label for="MySqlMediator">Mediator</label>
      <input
        type="radio"
        name="MySql"
        id="MySqlExpert"
        value="Expert"
        disabled
      />
      <label for="MySqlExpert">Expert</label>
    </div>
    <hr />
    <div id="tech_oracle">
      <input
        type="checkbox"
        name="oracle"
        id="oracle"
        value="oracle"
        onchange="checkTech(this)"
      />
      <label for="oracle">Oracle</label>
      <input
        type="radio"
        name="oracle"
        id="oracleBeginner"
        value="Beginner"
        disabled
      />
      <label for="oracleBeginner">Beginner</label>
      <input
        type="radio"
        name="oracle"
        id="oracleMediator"
        value="Mediator"
        disabled
      />
      <label for="oracleMediator">Mediator</label>
      <input
        type="radio"
        name="oracle"
        id="oracleExpert"
        value="Expert"
        disabled
      />
      <label for="oracleExpert">Expert</label>
    </div>
    <hr />
    <div id="tech_laravel">
      <input
        type="checkbox"
        name="laravel"
        id="laravel"
        value="laravel"
        onchange="checkTech(this)"
      />
      <label for="laravel">Laravel</label>
      <input
        type="radio"
        name="laravel"
        id="laravelBeginner"
        value="Beginner"
        disabled
      />
      <label for="laravelBeginner">Beginner</label>
      <input
        type="radio"
        name="laravel"
        id="laravelMediator"
        value="Mediator"
        disabled
      />
      <label for="laravelMediator">Mediator</label>
      <input
        type="radio"
        name="laravel"
        id="laravelExpert"
        value="Expert"
        disabled
      />

      <label for="laravelExpert">Expert</label>
    </div>
  </fieldset>
</div>
