<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="style/registration.css" />
  </head>
  <body>
    <div class="container">
      <div id="ip-holder">
        <h1>Projects</h1>
        <div id="table-div">
          <table border="1">
            <tr>
              <th>Project No.</th>
              <th>Project Name</th>
            </tr>
            <tr>
              <td>1</td>
              <td>
                <a class="projectName" href="/dynamicGrid"
                  >JS1: Dynamic Table</a
                >
              </td>
            </tr>
            <tr>
              <td>2</td>
              <td>
                <a class="projectName" href="/functionGrid"
                  >JS2: Functions Grid</a
                >
              </td>
            </tr>
            <tr>
              <td>3</td>
              <td>
                <a class="projectName" href="/kukuCube">JS3: Kuku Cube</a>
              </td>
            </tr>
            <tr>
              <td>4</td>
              <td>
                <a class="projectName" href="/ticTacToe">JS4: Tic Tac Toe</a>
              </td>
            </tr>
            <tr>
              <td>5</td>
              <td><a class="projectName" href="/ehya">CSS1: ehya</a></td>
            </tr>
            <tr>
              <td>6</td>
              <td>
                <a class="projectName" href="/AwanHoster">CSS2: Awan Hoster</a>
              </td>
            </tr>
            <tr>
              <td>7</td>
              <td><a class="projectName" href="/HireX">CSS3: HireX</a></td>
            </tr>
            <tr>
              <td>8</td>
              <td>
                EXP1: Grid
                <br />
                <a class="projectName" href="/EXP1/data">All Data</a><br />
                <a class="projectName" href="/EXP1/sorted?id=1&field=std_fname"
                  >Sorted Data</a
                ><br />
                <a class="projectName" href="/EXP1/navigation"
                  >Navigation Component</a
                >
              </td>
            </tr>

            <tr>
              <td>9</td>
              <td>
                EXP2: Attendence And Results
                <br />
                <a class="projectName" href="/EXP2/attendence">Attendence</a
                ><br />
                <a class="projectName" href="/EXP2/results">Results</a>
              </td>
            </tr>
          </table>
        </div>
        <a href="/logout"><center>Log out</center></a>
      </div>
    </div>
  </body>
</html>
