<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tasks</title>
    <link rel="stylesheet" href="style/registration.css" />
  </head>
  <body>
    <div class="container" id="tasks-con">
      <div id="table-holder">
        <div id="logout-div">
          <a href="/logout" id="logout">Log out</a>
        </div>
        <div id="table-div">
          <table id="task-table">
            <tr>
              <td colspan="3" style="font-weight: bold; font-size: x-large">
                <center>TASKS</center>
              </td>
            </tr>
            <tr>
              <td colspan="2" class="heads">&#10162; JS</td>
            </tr>
            <tr>
              <td class="num-cell">1</td>
              <td>
                JS1:
                <a class="projectName" href="/dynamicGrid" target="_blank"
                  >Dynamic Table</a
                >
              </td>
            </tr>
            <tr>
              <td class="num-cell">2</td>
              <td>
                JS2:
                <a class="projectName" href="/functionGrid" target="_blank">
                  Functions Grid</a
                >
              </td>
            </tr>
            <tr>
              <td class="num-cell">3</td>
              <td>
                JS3:
                <a class="projectName" href="/kukuCube" target="_blank">
                  Kuku Cube</a
                >
              </td>
            </tr>
            <tr>
              <td class="num-cell">4</td>
              <td>
                JS4:
                <a class="projectName" href="/ticTacToe" target="_blank">
                  Tic Tac Toe</a
                >
              </td>
            </tr>
            <tr>
              <td colspan="2" class="heads">&#10162; CSS</td>
            </tr>
            <tr>
              <td class="num-cell">5</td>
              <td>
                CSS1:
                <a class="projectName" href="/ehya" target="_blank"> ehya</a>
              </td>
            </tr>
            <tr>
              <td class="num-cell">6</td>
              <td>
                CSS2:
                <a class="projectName" href="/AwanHoster" target="_blank">
                  Awan Hoster</a
                >
              </td>
            </tr>
            <tr>
              <td class="num-cell">7</td>
              <td>
                CSS3:
                <a class="projectName" href="/HireX" target="_blank"> HireX</a>
              </td>
            </tr>
            <tr>
              <td colspan="2" class="heads">&#10162; EXPRESS</td>
            </tr>
            <tr>
              <td class="num-cell">8</td>
              <td>
                EXP1:
                <a class="projectName" href="/EXP1/data" target="_blank"
                  >Full Grid</a
                >
                and
                <a
                  class="projectName"
                  href="/EXP1/sorted?id=1&field=std_fname"
                  target="_blank"
                  >Sorted Grid</a
                ><br />
              </td>
            </tr>
            <tr>
              <td class="num-cell">9</td>
              <td>
                EXP2:

                <a class="projectName" href="/EXP2/attendence" target="_blank"
                  >Attendence</a
                >
                and
                <a class="projectName" href="/EXP2/results" target="_blank"
                  >Results</a
                >
              </td>
            </tr>
            <tr>
              <td class="num-cell">10</td>
              <td>
                EXP3:
                <a class="projectName" href="/EXP3/home" target="_blank">
                  Searching and Sorting from entered Query</a
                >
              </td>
            </tr>
            <tr>
              <td class="num-cell">11</td>
              <td>
                EXP4:
                <a class="projectName" href="/EXP4/input" target="_blank">
                  Searching with multiple search inputs</a
                >
              </td>
            </tr>
            <tr>
              <td class="num-cell">12</td>
              <td>
                EXP5:
                <a class="projectName" href="/EXP5/delimeter" target="_blank">
                  Delimeter Search</a
                >
              </td>
            </tr>
            <tr>
              <td class="num-cell">13</td>
              <td>
                EXP6:
                <a class="projectName" href="/EXP6/post" target="_blank">
                  JSONplaceholder</a
                >
              </td>
            </tr>
            <tr>
              <td class="num-cell">14</td>
              <td>
                EXP7:
                <a class="projectName" href="/EXP7/insert" target="_blank"
                  >Job Application</a
                >
              </td>
            </tr>
            <tr>
              <td class="num-cell">15</td>
              <td>
                EXP8:
                <a class="projectName" href="/EXP8" target="_blank">
                  Time Zone Converter
                </a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
