<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tasks</title>
    <link rel="stylesheet" href="style/registration.css" />
  </head>
  <body>
    <div class="container">
      <div id="ip-holder">
        <h2>Tasks</h2>
        <div id="table-div">
          <table border="1">
            <tr>
              <th>Task No.</th>
              <th>Task Name</th>
            </tr>
            <tr>
              <td>1</td>
              <td>
                <a class="projectName" href="/dynamicGrid" target="_blank"
                  >JS1: Dynamic Table</a
                >
              </td>
            </tr>
            <tr>
              <td>2</td>
              <td>
                <a class="projectName" href="/functionGrid" target="_blank"
                  >JS2: Functions Grid</a
                >
              </td>
            </tr>
            <tr>
              <td>3</td>
              <td>
                <a class="projectName" href="/kukuCube" target="_blank"
                  >JS3: Kuku Cube</a
                >
              </td>
            </tr>
            <tr>
              <td>4</td>
              <td>
                <a class="projectName" href="/ticTacToe" target="_blank"
                  >JS4: Tic Tac Toe</a
                >
              </td>
            </tr>
            <tr>
              <td>5</td>
              <td>
                <a class="projectName" href="/ehya" target="_blank"
                  >CSS1: ehya</a
                >
              </td>
            </tr>
            <tr>
              <td>6</td>
              <td>
                <a class="projectName" href="/AwanHoster" target="_blank"
                  >CSS2: Awan Hoster</a
                >
              </td>
            </tr>
            <tr>
              <td>7</td>
              <td>
                <a class="projectName" href="/HireX" target="_blank"
                  >CSS3: HireX</a
                >
              </td>
            </tr>
            <tr>
              <td>8</td>
              <td>
                EXP1: Grid
                <br />
                <a class="projectName" href="/EXP1/data" target="_blank"
                  >All Data</a
                ><br />
                <a
                  class="projectName"
                  href="/EXP1/sorted?id=1&field=std_fname"
                  target="_blank"
                  >Sorted Data</a
                ><br />
              </td>
            </tr>
            <tr>
              <td>9</td>
              <td>
                EXP2: Attendence And Results
                <br />
                <a class="projectName" href="/EXP2/attendence" target="_blank"
                  >Attendence</a
                ><br />
                <a class="projectName" href="/EXP2/results" target="_blank"
                  >Results</a
                >
              </td>
            </tr>
            <tr>
              <td>10</td>
              <td>
                <a class="projectName" href="/EXP3/home" target="_blank"
                  >EXP3: Searching and Sorting from entered Query</a
                >
              </td>
            </tr>
            <tr>
              <td>11</td>
              <td>
                <a class="projectName" href="/EXP4/input" target="_blank"
                  >EXP4: Searching with multiple search inputs</a
                >
              </td>
            </tr>
            <tr>
              <td>12</td>
              <td>
                <a class="projectName" href="/EXP5/delimeter" target="_blank"
                  >EXP5: Delimeter Search</a
                >
              </td>
            </tr>
            <tr>
              <td>13</td>
              <td>
                <a class="projectName" href="/EXP6/post" target="_blank"
                  >EXP6: JSONplaceholder</a
                >
              </td>
            </tr>
            <tr>
              <td>14</td>
              <td>
                EXP7: Job Application
                <br />
                <a class="projectName" href="/EXP7/insert" target="_blank"
                  >Insert</a
                ><br />
                <a class="projectName" href="/EXP7/display" target="_blank"
                  >Display</a
                >
              </td>
            </tr>
            <tr>
              <td>15</td>
              <td>
                <a class="projectName" href="/EXP8" target="_blank"
                  >EXP8: Time Zone Converter
                </a>
              </td>
            </tr>
          </table>
        </div>
        <a href="/logout" id="logout"><center>Log out</center></a>
      </div>
    </div>
  </body>
</html>
