<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="style/registration.css" />
  </head>
  <body>
    <div class="container">
      <div id="ip-holder">
        <h1>Projects</h1>
        <div id="table-div">
          <table border="1">
            <tr>
              <th>Project No.</th>
              <th>Project Name</th>
            </tr>
            <tr>
              <td>1</td>
              <td>
                <a class="projectName" href="/dynamicGrid">JS1: Dynamic Grid</a>
              </td>
            </tr>
          </table>
        </div>
        <a href="/logout"><center>Log out</center></a>
      </div>
    </div>
  </body>
</html>
