<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ehya</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Playfair+Display:ital@0;1&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/style/CSSproject/CSS1_ehya.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <nav id="navigation">
          <h3 id="logo"><img src="/assets/css1/Logo.svg" alt="" /></h3>
          <div id="content">
            <ul id="nav-list">
              <li class="nav-content">Home</li>
              <li class="nav-content">
                Landing
                <select name="landings" id="landing-select"></select>
              </li>
              <li class="nav-content">
                Pages
                <select name="pages" id="pages-select"></select>
              </li>
              <li class="nav-content">Docs</li>
              <li class="nav-content">Help</li>
            </ul>
            <button id="nav-btn">Get it now</button>
          </div>
        </nav>
      </div>
    </header>

    <section id="section-hero">
      <div class="container">
        <div id="hero">
          <div class="hero-content" id="hero-img"></div>
          <div class="hero-content" id="hero-writings">
            <h2 id="hero-heading">Make your new life happier.</h2>
            <p id="hero-para">
              We work with several leading insurance companies to secure
              insurances coverages tailored to meet your needs
            </p>
            <button id="hero-btn">Get a consultation</button>
          </div>
        </div>
      </div>
    </section>

    <section id="section-services">
      <div class="container">
        <div id="services-title">
          <h4 id="services-intro">OUR SERVICES</h4>
          <h2 id="services-heading">Insurance made simple for you.</h2>
          <p class="para">
            We work with several leading insurance companies to secure insurance
            coverages tailored to meet your needs.
          </p>
        </div>
        <div id="services-highlights">
          <ul id="highlights-list">
            <li class="hlt-lists">
              <img src="/assets/css1/circle.svg" class="check" alt="" />Flexible
              products to make your life easier
            </li>
            <li class="hlt-lists">
              <img src="/assets/css1/circle.svg" class="check" alt="" />Highest
              standards of service
            </li>
            <li class="hlt-lists">
              <img src="/assets/css1/circle.svg" class="check" alt="" /> Fast
              and reliable services
            </li>
          </ul>
        </div>
        <div class="cards">
          <div class="hlt-cards">
            <img class="hlt-logo" src="/assets/css1/Icon_Home.svg" alt="" />
            <h4>Home insurance</h4>
            <p class="para">
              Home insurance is a type of insurance policy that provides cover
              for your home.
            </p>
            <button class="hlt-btn" n>Learn more &#8594;</button>
          </div>
          <div class="hlt-cards">
            <img
              class="hlt-logo"
              src="/assets/css1/Icon_Blood_Donation.svg"
              alt=""
            />
            <h4>Life insurance</h4>
            <p class="para">
              Helping you bridge gaps in your health care coverage during times
              of transition.
            </p>
            <button class="hlt-btn">Learn more &#8594;</button>
          </div>
          <div class="hlt-cards">
            <img class="hlt-logo" src="/assets/css1/Icon_Car.svg" alt="" />
            <h4>Car insurance</h4>
            <p class="para">
              Car insurance is a type of insurance policy that provides cover
              for your car.
            </p>
            <button class="hlt-btn" n>Learn more &#8594;</button>
          </div>
        </div>
      </div>
    </section>

    <section id="section-tips">
      <div class="container">
        <div id="tips-title">
          <h4 id="tips-intro">OUR TIPS FOR YOU</h4>
          <h2 id="tips-heading">Reinventing your protection</h2>
          <p class="para">
            We share common trends, strategies ideas, opinions, short & long
            stories from the team behind company.
          </p>
        </div>
        <div id="tips-content">
          <div class="tips-cards" id="tips-card1">
            <p class="tips-para">
              How to prevent and protect your family from Carbon monoxide
            </p>
          </div>
          <div class="tips-cards" id="tips-card2">
            <p class="tips-para">
              Motherhood is the hardest and the best job ever
            </p>
          </div>
        </div>
      </div>
    </section>

    <section id="section-benefits">
      <div class="container">
        <h4 id="benefits-intro">YOUR BENEFITS</h4>

        <div id="benefits-cards">
          <div class="ben-cards">
            <h2 id="benefits-heading">We're your right insurance advocate</h2>
          </div>
          <div class="ben-cards">
            <img class="ben-logo" src="/assets/css1/Donation.svg" alt="" />
            <h4>We have the best prices</h4>
            <p class="para">
              Our insurance plans offers are priced the same everywhere else.We
              just make them easier for you to find.
            </p>
          </div>
          <div class="ben-cards">
            <img
              class="ben-logo"
              src="/assets/css1/Icon_Protection.svg"
              alt=""
            />
            <h4>We're your insurance advocate</h4>
            <p class="para">
              We will deal with the insurance companies for you., even after
              you've bought your plan.
            </p>
          </div>
          <div class="ben-cards">
            <img class="ben-logo" src="/assets/css1/Icon_Neutron.svg" alt="" />
            <h4>We're unbiased</h4>
            <p class="para">
              Our online tools help you decide what product is best for
              you.We're here to insurance plan you choose.
            </p>
          </div>
          <div class="ben-cards">
            <img class="ben-logo" src="/assets/css1/Icon_CS.svg" alt="" />
            <h4>We're available 24/7</h4>
            <p class="para">
              We have your back 24/7 between our online chat function, email and
              telephone support.
            </p>
          </div>
          <div class="ben-cards">
            <img class="ben-logo" src="/assets/css1/Icon_Like.svg" alt="" />
            <h4>We make insurance simple</h4>
            <p class="para">
              We are commited to making applying for insurance as simple as can
              be for our customers.
            </p>
          </div>
        </div>
      </div>
    </section>

    <hr id="hrz" />

    <section id="review-section">
      <div class="container">
        <div id="review">
          <div class="review-card" id="cus-card">
            <div id="cus-img">
              <img src="/assets/css1/Avatar-1.png" alt="" />
              <img src="/assets/css1/Avatar-2.png" alt="" />
              <img src="/assets/css1/Avatar.png" alt="" />
            </div>
            <div>
              <p class="review-para"><b>Friendly</b> customer support team</p>
            </div>
          </div>
          <hr class="ver" />
          <div class="review-card" id="rating">
            <div id="trust-pilot">
              <h3 id="trust-pilot">
                <img src="/assets/css1/Path.svg" alt="" />Trustpilot
              </h3>
            </div>
            <div id="yelow-str">
              <img src="/assets/css1/s.svg" alt="" />
              <img src="/assets/css1/s.svg" alt="" />
              <img src="/assets/css1/s.svg" alt="" />
              <img src="/assets/css1/s.svg" alt="" />
              <img src="/assets/css1/s.svg" alt="" />
            </div>
            <p class="review-para">
              <b>4.5 out of 5 stars</b> from 8.6k reviews
            </p>
          </div>
          <hr class="ver" />
          <div class="review-card">
            <div>
              <img id="like" src="/assets/css1/Icon_Like.svg" alt="" />
            </div>
            <p class="review-para">
              We're making <b>insurance as simple as</b> can be
            </p>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <div class="container">
        <div class="footer">
          <div class="foot" id="footer1">
            <img src="/assets/css1/Logo_white.svg" alt="" />
            <p class="para">
              Build a modern and creative website with crealand
            </p>
            <div class="foot-icons">
              <i class="foot-i fa fa-google fa-lg" style="color: 5a7184"></i>
              <i
                class="foot-i fa fa-youtube-play fa-lg"
                style="color: 5a7184"
              ></i>
              <i class="foot-i fa fa-twitter fa-lg" style="color: 5a7184"></i>
              <i class="foot-i fa fa-instagram fa-lg" style="color: 5a7184"></i>
              <i
                class="foot-i fa fa-linkedin-square fa-lg"
                style="color: 5a7184"
              ></i>
            </div>
          </div>
          <div class="foot" id="footer2">
            <p id="footer-para">
              Ready to get insured? Submit your request and hear back as soon as
              tomorrow
            </p>
            <div>
              <input id="footer-ip" type="text" placeholder="Your Email" />
              <button id="footer-btn">Get started</button>
            </div>
          </div>
        </div>
        <p id="copyright">Copyright &copy; 2024.</p>
      </div>
    </footer>
  </body>
</html>
