<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AWAN HOSTER</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script
      src="https://kit.fontawesome.com/a076d05399.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/style/CSSproject/CSS2_Awan_Hoster.css" />
  </head>
  <body onload="showDes('WordPress')">
    <header>
      <div class="container">
        <nav id="navbar">
          <div id="main-logo">
            <img
              src="/assets/css2/logo-white.png"
              style="filter: invert(100%)"
              alt=""
            />
          </div>
          <div id="nav-list">
            <ul id="navigation">
              <li class="nav-lists">Hosting</li>
              <li class="nav-lists">Integration</li>
              <li class="nav-lists">Pricing</li>
              <li class="nav-lists">Community</li>
              <li class="nav-lists"><button id="nav-btn">Login</button></li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <hr class="nav-border" />
    <section id="section-main">
      <div class="container">
        <div id="sec-main">
          <div class="main" id="main-1">
            <div id="main-content">
              <h1 id="main-heading">Hosting services for your website</h1>
              <p class="big-para" id="main-para">
                Easily and reliably host a website for your business,
                organisation, or project while retaining complete control over
                your site's underlying infrastructure.
              </p>
            </div>
            <div id="main-btns">
              <button id="main-btn-1">Get Started</button>
              <button id="main-btn-2">Get Migration Help</button>
            </div>
            <button id="down-btn">
              <img
                onclick="showCompanies()"
                src="/assets/css2/arrow-down.png"
                alt=""
              />
            </button>
          </div>
          <div class="main" id="main-2">
            <img
              src="/assets/css2/portrait-confident-bearded-man-using-laptop-computer 1.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>

    <section id="section-companies">
      <div class="container">
        <div id="sec-companies">
          <div id="com-para">
            <p class="small-para">
              Those Who Have Experienced The Best Performance
            </p>
          </div>
          <div id="com-logo">
            <img
              class="companies-logo"
              src="/assets/css2/Jetstar Airways Logo.png"
              alt=""
            />
            <img
              class="companies-logo"
              src="/assets/css2/Lenovo Logo.png"
              alt=""
            />
            <img
              class="companies-logo"
              src="/assets/css2/Telkom Indonesia Logo.png"
              alt=""
            />
            <img
              class="companies-logo"
              src="/assets/css2/Nescafe Logo.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>

    <section id="section-boost">
      <div class="container">
        <div id="sec-boost">
          <div id="boost-1" class="boost-content">
            <img id="boost-img" src="/assets/css2/Group 3552.png" alt="" />
          </div>
          <div class="boost-content">
            <h2>Boost the speed of your website</h2>
            <div id="boost-table">
              <div class="boost-cards gray">
                <h4 class="big-para">Faster Build Process</h4>
                <p class="big-para">
                  We can speed up the process of creating your website
                </p>
              </div>
              <div class="boost-cards gray">
                <h4 class="big-para">Faster Delivery</h4>
                <p class="big-para">
                  Our purchases and services can be completed
                </p>
              </div>
              <div class="boost-cards gray">
                <h4 class="big-para">Faster Access Speed</h4>
                <p class="big-para">
                  Superb network infrastructure and hardware to support fast and
                  stable access.
                </p>
              </div>
              <div class="boost-cards gray">
                <h4 class="big-para">24/7 Faster Service</h4>
                <p class="big-para">
                  We have a response time of less than 180 seconds, available 24
                  hours a day
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="hosting">
      <div class="container">
        <div id="sec-hosting">
          <h2>Host Any Website With Our Fully Managed Services</h2>
          <div id="hosting-table">
            <div class="host-col">
              <div class="host-card">
                <div class="host-card-content">
                  <div class="card-header">
                    <img
                      class="host-img"
                      src="/assets/css2/cloud-sunny.png"
                      alt=""
                    />
                    <h4 class="big-para host-card-heading">Cloud Hosting</h4>
                  </div>
                  <p>
                    Cloud hosting is a good fit for those of you who are bulding
                    personal websites, portfolios, blogs and other systems
                  </p>
                </div>
                <h3 class="price">$5.9<sub>/month</sub></h3>
                <button class="host-btn">More Detail</button>
              </div>
            </div>
            <div class="host-col">
              <div class="host-card">
                <div class="host-card-content">
                  <div class="card-header">
                    <img
                      class="host-img"
                      src="/assets/css2/buildings.png"
                      alt=""
                    />
                    <h4 class="big-para host-card-heading">Corporate</h4>
                  </div>
                  <p>
                    Provides business-related hosting services, such as websites
                    or management systems for companies
                  </p>
                </div>
                <h3 class="price">$19<sub>/month</sub></h3>
                <button class="host-btn">More Detail</button>
              </div>
            </div>
            <div class="host-col">
              <div class="host-card">
                <div class="host-card-content">
                  <div class="card-header">
                    <img
                      class="host-img"
                      src="/assets/css2/driver.png"
                      alt=""
                    />
                    <h4 class="big-para host-card-heading">Cloud VPS</h4>
                  </div>
                  <p>
                    A scalable. fully-managed virtual private server we build
                    and optimized specifically for your website
                  </p>
                </div>
                <h3 class="price">$29<sub>/month</sub></h3>
                <button class="host-btn">More Detail</button>
              </div>
            </div>
            <div class="host-col">
              <div class="host-card">
                <div class="host-card-content">
                  <div class="card-header">
                    <img
                      class="host-img"
                      src="/assets/css2/monitor-mobbile.png"
                      alt=""
                    />
                    <h4 class="big-para host-card-heading">Dedicated</h4>
                  </div>
                  <p>
                    Your mission-critical website requires the performance and
                    security of a dedicated physical server.
                  </p>
                </div>
                <h3 class="price">$119<sub>/month</sub></h3>
                <button class="host-btn">More Detail</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="section-techs">
      <div class="container">
        <div id="sec-techs">
          <div id="tech-names">
            <div
              class="tech-name"
              id="WordPress-main"
              onclick="showDes('WordPress')"
            >
              <h5>Wordpress</h5>
            </div>
            <div
              class="tech-name"
              id="Mogento-main"
              onclick="showDes('Mogento')"
            >
              <h5>Mogento</h5>
            </div>
            <div
              class="tech-name"
              id="Laravel-main"
              onclick="showDes('Laravel')"
            >
              <h5>Laravel</h5>
            </div>
            <div class="tech-name" id="PHP-main" onclick="showDes('PHP')">
              <h5>PHP</h5>
            </div>
          </div>
          <div class="descriptions">
            <div class="tech-des" id="WordPress">
              <h3>The Best Managed Cloud Hosting for WordPress</h3>
              <p id="tech-para" class="big-para gray">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum
                eligendi consequatur incidunt, amet quam non. Mollitia,
                blanditiis! Assumenda ipsam, accusamus amet quia cumque dicta,
                quidem ducimus dolorum animi aspernatur in nam quod saepe quo!
              </p>
              <div id="tech-benefits">
                <div class="benefits">
                  <img
                    class="vectors"
                    src="/assets/css2/Vector.png"
                    alt=""
                  />Unlimited Bandwidth
                </div>
                <div class="benefits">
                  <img
                    class="vectors"
                    src="/assets/css2/Vector.png"
                    alt=""
                  />Network Speed
                </div>
                <div class="benefits">
                  <img
                    class="vectors"
                    src="/assets/css2/Vector.png"
                    alt=""
                  />Turbo Power
                </div>
                <div class="benefits">
                  <img
                    class="vectors"
                    src="/assets/css2/Vector.png"
                    alt=""
                  />Xtreme Freedom
                </div>
              </div>
              <button id="tech-btn">More Details</button>
            </div>
            <div class="tech-des" id="Mogento">
              <h3>The Best Managed Cloud Hosting for Mogento</h3>
              <p id="tech-para" class="big-para gray">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum
                eligendi consequatur incidunt, amet quam non. Mollitia,
                blanditiis! Assumenda ipsam, accusamus amet quia cumque dicta,
                quidem ducimus dolorum animi aspernatur in nam quod saepe quo!
              </p>
              <div id="tech-benefits">
                <div class="benefits">
                  <img
                    class="vectors"
                    src="/assets/css2/Vector.png"
                    alt=""
                  />Unlimited Bandwidth
                </div>
                <div class="benefits">
                  <img
                    class="vectors"
                    src="/assets/css2/Vector.png"
                    alt=""
                  />Network Speed
                </div>
                <div class="benefits">
                  <img
                    class="vectors"
                    src="/assets/css2/Vector.png"
                    alt=""
                  />Turbo Power
                </div>
                <div class="benefits">
                  <img
                    class="vectors"
                    src="/assets/css2/Vector.png"
                    alt=""
                  />Xtreme Freedom
                </div>
              </div>
              <button id="tech-btn">More Details</button>
            </div>
            <div class="tech-des" id="Laravel">
              <h3>The Best Managed Cloud Hosting for Laravel</h3>
              <p id="tech-para" class="big-para gray">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum
                eligendi consequatur incidunt, amet quam non. Mollitia,
                blanditiis! Assumenda ipsam, accusamus amet quia cumque dicta,
                quidem ducimus dolorum animi aspernatur in nam quod saepe quo!
              </p>
              <div id="tech-benefits">
                <div class="benefits">
                  <img
                    class="vectors"
                    src="/assets/css2/Vector.png"
                    alt=""
                  />Unlimited Bandwidth
                </div>
                <div class="benefits">
                  <img
                    class="vectors"
                    src="/assets/css2/Vector.png"
                    alt=""
                  />Network Speed
                </div>
                <div class="benefits">
                  <img
                    class="vectors"
                    src="/assets/css2/Vector.png"
                    alt=""
                  />Turbo Power
                </div>
                <div class="benefits">
                  <img
                    class="vectors"
                    src="/assets/css2/Vector.png"
                    alt=""
                  />Xtreme Freedom
                </div>
              </div>
              <button id="tech-btn">More Details</button>
            </div>
            <div class="tech-des" id="PHP">
              <h3>The Best Managed Cloud Hosting for PHP</h3>
              <p id="tech-para" class="big-para gray">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum
                eligendi consequatur incidunt, amet quam non. Mollitia,
                blanditiis! Assumenda ipsam, accusamus amet quia cumque dicta,
                quidem ducimus dolorum animi aspernatur in nam quod saepe quo!
              </p>
              <div id="tech-benefits">
                <div class="benefits">
                  <img
                    class="vectors"
                    src="/assets/css2/Vector.png"
                    alt=""
                  />Unlimited Bandwidth
                </div>
                <div class="benefits">
                  <img
                    class="vectors"
                    src="/assets/css2/Vector.png"
                    alt=""
                  />Network Speed
                </div>
                <div class="benefits">
                  <img
                    class="vectors"
                    src="/assets/css2/Vector.png"
                    alt=""
                  />Turbo Power
                </div>
                <div class="benefits">
                  <img
                    class="vectors"
                    src="/assets/css2/Vector.png"
                    alt=""
                  />Xtreme Freedom
                </div>
              </div>
              <button id="tech-btn">More Details</button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="cus-section">
      <div class="container">
        <div id="cus-sec">
          <div id="cus-nav">
            <div id="cus-title"><h2>How Our Customers Feel About Us</h2></div>
            <div id="cus-arw">
              <button class="cus-btns" id="prev" onclick="nextSlide()">
                <img
                  src="/assets/css2/arrow-right.png"
                  style="transform: rotate(180deg)"
                  alt=""
                />
              </button>
              <button class="cus-btns" id="next" onclick="prevSlide()">
                <img src="/assets/css2/arrow-right.png" alt="" />
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="slider-section">
      <div class="container">
        <div id="slider-sec">
          <div id="slide-holder">
            <div class="slide-col">
              <div class="slide-row">
                <div class="slide-content">
                  <div class="con-sec">
                    <div class="profile">
                      <img class="dp" src="/assets/css2/profile.png" alt="" />
                      <div>
                        <img
                          class="stars"
                          src="/assets/css2/Star 2.png"
                          alt=""
                        />
                        <img
                          class="stars"
                          src="/assets/css2/Star 2.png"
                          alt=""
                        />
                        <img
                          class="stars"
                          src="/assets/css2/Star 2.png"
                          alt=""
                        />
                        <img
                          class="stars"
                          src="/assets/css2/Star 2.png"
                          alt=""
                        />
                        <img
                          class="stars"
                          src="/assets/css2/Star 2.png"
                          alt=""
                        />
                      </div>
                      <p class="gray big-para">
                        Thanks to Awan Hoster, I was Guided step-by-step until
                        it was finished
                      </p>
                    </div>
                    <div class="cus-details">
                      <h4>Guy Hawkins</h4>
                      <p class="gray big-para">Manager</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="slide-col">
              <div class="slide-row">
                <div class="slide-content">
                  <div class="con-sec">
                    <div class="profile">
                      <img class="dp" src="/assets/css2/profile.png" alt="" />
                      <div>
                        <img
                          class="stars"
                          src="/assets/css2/Star 2.png"
                          alt=""
                        />
                        <img
                          class="stars"
                          src="/assets/css2/Star 2.png"
                          alt=""
                        />
                        <img
                          class="stars"
                          src="/assets/css2/Star 2.png"
                          alt=""
                        />
                        <img
                          class="stars"
                          src="/assets/css2/Star 2.png"
                          alt=""
                        />
                        <img
                          class="stars"
                          src="/assets/css2/Star 2.png"
                          alt=""
                        />
                      </div>
                      <p class="gray big-para">
                        Thanks to Awan Hoster, I was Guided step-by-step until
                        it was finished
                      </p>
                    </div>
                    <div class="cus-details">
                      <h4>Guy Hawkins</h4>
                      <p class="gray big-para">Manager</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="slide-col">
              <div class="slide-row">
                <div class="slide-content">
                  <div class="con-sec">
                    <div class="profile">
                      <img class="dp" src="/assets/css2/profile.png" alt="" />
                      <div>
                        <img
                          class="stars"
                          src="/assets/css2/Star 2.png"
                          alt=""
                        />
                        <img
                          class="stars"
                          src="/assets/css2/Star 2.png"
                          alt=""
                        />
                        <img
                          class="stars"
                          src="/assets/css2/Star 2.png"
                          alt=""
                        />
                        <img
                          class="stars"
                          src="/assets/css2/Star 2.png"
                          alt=""
                        />
                        <img
                          class="stars"
                          src="/assets/css2/Star 2.png"
                          alt=""
                        />
                      </div>
                      <p class="gray big-para">
                        Thanks to Awan Hoster, I was Guided step-by-step until
                        it was finished
                      </p>
                    </div>
                    <div class="cus-details">
                      <h4>Guy Hawkins</h4>
                      <p class="gray big-para">Manager</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="slide-col">
              <div class="slide-row">
                <div class="slide-content">
                  <div class="con-sec">
                    <div class="profile">
                      <img class="dp" src="/assets/css2/profile.png" alt="" />
                      <div>
                        <img
                          class="stars"
                          src="/assets/css2/Star 2.png"
                          alt=""
                        />
                        <img
                          class="stars"
                          src="/assets/css2/Star 2.png"
                          alt=""
                        />
                        <img
                          class="stars"
                          src="/assets/css2/Star 2.png"
                          alt=""
                        />
                        <img
                          class="stars"
                          src="/assets/css2/Star 2.png"
                          alt=""
                        />
                        <img
                          class="stars"
                          src="/assets/css2/Star 2.png"
                          alt=""
                        />
                      </div>
                      <p class="gray big-para">
                        Thanks to Awan Hoster, I was Guided step-by-step until
                        it was finished
                      </p>
                    </div>
                    <div class="cus-details">
                      <h4>Guy Hawkins</h4>
                      <p class="gray big-para">Manager</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="slide-col">
              <div class="slide-row">
                <div class="slide-content">
                  <div class="con-sec">
                    <div class="profile">
                      <img class="dp" src="/assets/css2/profile.png" alt="" />
                      <div>
                        <img
                          class="stars"
                          src="/assets/css2/Star 2.png"
                          alt=""
                        />
                        <img
                          class="stars"
                          src="/assets/css2/Star 2.png"
                          alt=""
                        />
                        <img
                          class="stars"
                          src="/assets/css2/Star 2.png"
                          alt=""
                        />
                        <img
                          class="stars"
                          src="/assets/css2/Star 2.png"
                          alt=""
                        />
                        <img
                          class="stars"
                          src="/assets/css2/Star 2.png"
                          alt=""
                        />
                      </div>
                      <p class="gray big-para">
                        Thanks to Awan Hoster, I was Guided step-by-step until
                        it was finished
                      </p>
                    </div>
                    <div class="cus-details">
                      <h4>Guy Hawkins</h4>
                      <p class="gray big-para">Manager</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="slide-col">
              <div class="slide-row">
                <div class="slide-content">
                  <div class="con-sec">
                    <div class="profile">
                      <img class="dp" src="/assets/css2/profile.png" alt="" />
                      <div>
                        <img
                          class="stars"
                          src="/assets/css2/Star 2.png"
                          alt=""
                        />
                        <img
                          class="stars"
                          src="/assets/css2/Star 2.png"
                          alt=""
                        />
                        <img
                          class="stars"
                          src="/assets/css2/Star 2.png"
                          alt=""
                        />
                        <img
                          class="stars"
                          src="/assets/css2/Star 2.png"
                          alt=""
                        />
                        <img
                          class="stars"
                          src="/assets/css2/Star 2.png"
                          alt=""
                        />
                      </div>
                      <p class="gray big-para">
                        Thanks to Awan Hoster, I was Guided step-by-step until
                        it was finished
                      </p>
                    </div>
                    <div class="cus-details">
                      <h4>Guy Hawkins</h4>
                      <p class="gray">Manager</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="trial-section">
      <div class="container">
        <div class="trial-sec">
          <div class="trial-con" id="trial-des">
            <h2 id="trial-head">Try It now and Stop Doubting Anything Else</h2>
            <p id="trial-para">
              With Awan Hoster Money Back Guarantee, you can try the best
              service reliability
            </p>
            <div id="trial-btns">
              <button class="trial-btn" id="trial-btn-1">
                Start Free Trial</button
              ><button class="trial-btn" id="trial-btn-2">See All Plans</button>
            </div>
          </div>
          <div class="trial-con" id="trial-img">
            <img src="/assets/css2/Group 1000008788.png" alt="" />
          </div>
        </div>
      </div>
    </section>

    <footer>
      <div class="container">
        <div class="footer">
          <div class="foots" id="foot-1">
            <img src="/assets/css2/logo-white.png" alt="" />
            <p id="foot-1-para">
              We provide you with the best hosting solutions for your website.
            </p>
            <div>
              <i class="foot-i fa fa-google fa-lg" style="color: ffffff"></i>
              <i
                class="foot-i fa fa-youtube-play fa-lg"
                style="color: ffffff"
              ></i>
              <i class="foot-i fa fa-twitter fa-lg" style="color: ffffff"></i>
              <i class="foot-i fa fa-instagram fa-lg" style="color: ffffff"></i>
              <i
                class="foot-i fa fa-linkedin-square fa-lg"
                style="color: ffffff"
              ></i>
            </div>
          </div>
          <div class="foots" id="foot-2">
            <div class="foot-des">
              <p class="trail-head">Company</p>
              <p class="big-para">About</p>
              <p class="big-para">Blog</p>
              <p class="big-para">Leadership</p>
              <p class="big-para">Careers</p>
              <p class="big-para">Legal</p>
            </div>
            <div class="foot-des">
              <p class="trail-head">Product</p>
              <p class="big-para">Api</p>
              <p class="big-para">pricing</p>
              <p class="big-para">Documentation</p>
              <p class="big-para">Release Notes</p>
            </div>
            <div class="foot-des">
              <p class="trail-head">Contact</p>
              <p class="big-para">Support</p>
              <p class="big-para">Sales</p>
              <p class="big-para">Report Abuse</p>
              <p class="big-para">System Status</p>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script src="script/CSSproject/CSS2_Awan_Hoster.js"></script>
  </body>
</html>
