<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/style/CSSproject/CSS3_HireX.css" />
    <title>HireX</title>
  </head>
  <body>
    <header>
      <div class="container">
        <nav id="navbar">
          <div class="nav-logo">
            <img src="/assets/css3/HireX_black.png" alt="" />
          </div>
          <div class="nav-navigation">
            <ul id="nav-content">
              <li class="nav-con">servicess</li>
              <li class="nav-con">About Us</li>
              <li class="nav-con">Blogs</li>
              <li class="nav-con">FAQs</li>
              <li class="nav-con">Contact Us</li>
              <li>
                <button id="nav-btn">We're Hiring &#8594;</button>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>

    <section id="hero-section">
      <div class="container">
        <div id="hero-sec">
          <div class="hero-intro">
            <p class="para-mid">
              WELCOME TO HIREX. <img src="/assets/css3/Star 1.png" alt="" />
            </p>
            <h1>Award Winning Digital Agency</h1>
            <p id="hero-para" class="para-mid">
              Digital Agency offering unique solutions to create digital
              presence and increase your sales
            </p>
            <div id="hero-ip">
              <form action="">
                <input
                  type="text"
                  class="box-hlt para-small hero-inputs"
                  id="input"
                  placeholder="Your email address"
                />
                <input
                  type="submit"
                  class="box-hlt para-small hero-inputs"
                  id="hero-btn"
                  value="Request access"
                />
              </form>
            </div>
            <div class="comment">
              <p>Open account and get 5 boxes</p>
            </div>
          </div>
          <div class="hero-shapes">
            <div id="circle">
              <img
                id="circle-img"
                src="/assets/css3/image 2 (Traced).png"
                alt=""
              />
              <p id="circle-para">Web Design</p>
            </div>
            <div id="side">
              <img
                id="side-img"
                src="/assets/css3/image 6 (Traced).png"
                alt=""
              />
              <p id="side-para">Social Media</p>
            </div>
            <div id="square">
              <img
                id="square-img"
                src="/assets/css3/image 1 (Traced).png"
                alt=""
              />
              <p id="square-para">UIX Design</p>
            </div>
            <div id="new"><img src="/assets/css3/Group 6.png" alt="" /></div>
          </div>
        </div>
      </div>
    </section>

    <section id="access-section">
      <div class="container">
        <div id="access-sec">
          <div id="access-con">
            <div class="access">
              <h4>GET ACCESS NOW!</h4>
            </div>
            <div id="access-img">
              <img
                src="/assets/css3/image-fBLQvAFN1-transformed 1.png"
                alt=""
              />
            </div>
            <hr class="hr" />
          </div>

          <div id="access-con">
            <div class="access">
              <h4>GET ACCESS NOW!</h4>
            </div>
            <div id="access-img">
              <img
                src="/assets/css3/image-fBLQvAFN1-transformed 1.png"
                alt=""
              />
            </div>
            <hr class="hr" />
          </div>

          <div id="access-con">
            <div class="access">
              <h4>GET ACCESS NOW!</h4>
            </div>
            <div id="access-img">
              <img
                src="/assets/css3/image-fBLQvAFN1-transformed 1.png"
                alt=""
              />
            </div>
            <hr class="hr" />
          </div>
          <div id="access-con">
            <div class="access">
              <h4>GET ACCESS NOW!</h4>
            </div>
            <div id="access-img">
              <img
                src="/assets/css3/image-fBLQvAFN1-transformed 1.png"
                alt=""
              />
            </div>
            <hr class="hr" />
          </div>
          <div id="access-con">
            <div class="access">
              <h4>GET ACCESS NOW!</h4>
            </div>
            <div id="access-img">
              <img
                src="/assets/css3/image-fBLQvAFN1-transformed 1.png"
                alt=""
              />
            </div>
            <hr class="hr" />
          </div>
        </div>
      </div>
    </section>

    <section id="services-section">
      <div class="container">
        <div id="services-sec">
          <div id="services-intro">
            <div id="services" class="para-small">Services</div>
            <h3>How Hirex. services</h3>
            <p id="services-head-intro">
              The awesome people who makes all this possible
            </p>
          </div>
          <div class="services-holder">
            <div class="services-col">
              <div class="services-card">
                <div class="services-header">
                  <p class="para-small">START HERE &#8594;</p>
                  <h5>Who we are & what we do</h5>
                </div>
                <div class="services-img">
                  <img src="/assets/css3/Designer _Flatline 1.png" alt="" />
                </div>
                <div>
                  <button id="services-btn-1" class="box-hlt services-btn">
                    START HERE &#8594;
                  </button>
                </div>
              </div>
            </div>
            <div class="services-col">
              <div class="services-card">
                <div class="services-header">
                  <p class="para-small">CUSTOM DESIGN</p>
                  <h5>We'll design your projects</h5>
                </div>
                <div class="services-img">
                  <img src="/assets/css3/Notifications_Flatline 1.png" alt="" />
                </div>
                <div>
                  <button id="services-btn-2" class="box-hlt services-btn">
                    START HERE &#8594;
                  </button>
                </div>
              </div>
            </div>
            <div class="services-col">
              <div class="services-card">
                <div class="services-header">
                  <p class="para-small">CONTACT US</p>
                  <h5>Drop us your message!</h5>
                </div>
                <div class="services-img">
                  <img src="/assets/css3/Fortnite_Two Color 1.png" alt="" />
                </div>
                <div>
                  <button id="services-btn-3" class="box-hlt services-btn">
                    START HERE &#8594;
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="work-section">
      <div class="container">
        <div id="work-sec">
          <div id="work-intro">
            <div id="work" class="para-small">Works</div>
            <h3>Find our latest works</h3>
            <p id="work-head-intro">
              The awesome people who makes all this possible
            </p>
          </div>
          <div id="work-holder">
            <div class="work-con" id="work-left">
              <div id="work-left-holder">
                <div id="left-img">
                  <img
                    class="work-img"
                    src="/assets/css3/Rectangle 13.png"
                    alt=""
                  />
                </div>
                <div class="left-align">
                  <div class="left para-small curve-border">Works</div>
                  <div>
                    <h4>Web Design For Digital Agency</h4>
                    <p class="work-para">
                      Build a unique website with HireX Template
                    </p>
                    <a class="work-btn">Read More &#8594;</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="work-con" id="work-right">
              <div id="work-right-holder">
                <div id="right-img">
                  <img
                    class="work-img"
                    src="/assets/css3/Rectangle 13-1.png"
                    alt=""
                  />
                </div>
                <div class="left-align">
                  <div class="left para-small curve-border">3D design</div>
                  <div>
                    <h4>Realistic 3D Model of Living Room</h4>
                    <p class="work-para">
                      Build a unique website with HireX Template
                    </p>
                    <a class="work-btn">Read More &#8594;</a>
                  </div>
                </div>
              </div>
              <button class="box-hlt" id="view-all">View All &#8594;</button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="price-section">
      <div class="container">
        <div id="price-sec">
          <div id="price-intro">
            <h3>Plans & Pricing</h3>
            <p id="price-head-intro">
              The awesome people who makes all this possible
            </p>
          </div>
          <div id="price-holder">
            <div class="price-col">
              <div class="price-card">
                <h4>FREE</h4>
                <div class="price-head">
                  <h1>$0<span>/MONTH</span></h1>
                  <p class="para-mid">
                    Start free while you learn more about our services
                  </p>
                </div>
                <hr />
                <div class="check-box">
                  <p class="check-para">
                    <i class="icons fa fa-check"></i>Free forever get the basic
                    essentials
                  </p>
                  <p class="check-para">
                    <i class="icons fa fa-check"></i>Advanced security and
                    performance
                  </p>
                  <p class="check-para">
                    <i class="icons fa fa-check"></i>Unlimited unhosted sites
                  </p>
                  <p class="check-para">
                    <i class="icons fa fa-check"></i>Live support
                  </p>
                </div>
                <div>
                  <button id="price-btn-2" class="price-btn">
                    GET STARTED
                  </button>
                </div>
              </div>
            </div>
            <div class="price-col">
              <div class="price-card">
                <h4>BASIC</h4>
                <div class="price-head">
                  <h1>$19<span>/MONTH</span></h1>
                  <p class="para-mid">
                    Start free while you learn more about our services
                  </p>
                </div>
                <hr />
                <div class="check-box">
                  <p class="check-para">
                    <i class="icons fa fa-check"></i>Free forever get the basic
                    essentials
                  </p>
                  <p class="check-para">
                    <i class="icons fa fa-check"></i>Advanced security and
                    performance
                  </p>
                  <p class="check-para">
                    <i class="icons fa fa-check"></i>Unlimited unhosted sites
                  </p>
                  <p class="check-para">
                    <i class="icons fa fa-check"></i>Live support
                  </p>
                </div>
                <div>
                  <button id="price-btn-3" class="price-btn">
                    GET STARTED
                  </button>
                </div>
              </div>
            </div>
            <div class="price-col">
              <div class="price-card">
                <h4>PRO</h4>
                <div class="price-head">
                  <h1>$99<span>/MONTH</span></h1>
                  <p class="para-mid">
                    Start free while you learn more about our services
                  </p>
                </div>
                <hr />
                <div class="check-box">
                  <p class="check-para">
                    <i class="icons fa fa-check"></i>Free forever get the basic
                    essentials
                  </p>
                  <p class="check-para">
                    <i class="icons fa fa-check"></i>Advanced security and
                    performance
                  </p>
                  <p class="check-para">
                    <i class="icons fa fa-check"></i>Unlimited unhosted sites
                  </p>
                  <p class="check-para">
                    <i class="icons fa fa-check"></i>Live support
                  </p>
                </div>
                <div>
                  <button id="price-btn-1" class="price-btn">
                    GET STARTED
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="review-section">
      <div class="container">
        <div id="review-sec">
          <button id="prev" class="arrow" onclick="prevSlide()">
            <img src="/assets/css3/arrow-left-2.png" alt="" />
          </button>
          <div id="review-content">
            <div class="review-col">
              <div id="review-left" class="review-parts">
                <div class="img-div">
                  <img
                    class="img"
                    src="/assets/css3/testimonials-img.png"
                    alt=""
                  />
                  <div id="name-tag">
                    <div class="name">@mase.place</div>
                    <div class="name-img">
                      <a id="name-a" href=""
                        ><img
                          src="/assets/css3/arrow_top-right.png"
                          class="box-hlt img-a"
                          alt=""
                      /></a>
                    </div>
                  </div>
                </div>
              </div>
              <div id="review-right" class="review-parts">
                <div class="right-content">
                  <h4>
                    "We select to practice in Minerva since it is both
                    useful,and our clients basically adore it! It has stood the
                    test of time and proceeds"
                  </h4>
                  <p class="para-mid">
                    Abel Carden is a TikTok personality and lip-syn content
                    creator who has built a fanbase of more than 3.2 million
                    followers ont the platform
                  </p>
                </div>
              </div>
            </div>
            <div class="review-col">
              <div id="review-left" class="review-parts">
                <div class="img-div">
                  <img
                    class="img"
                    src="/assets/css3/testimonials-img.png"
                    alt=""
                  />
                  <div id="name-tag">
                    <div class="name">@mase.place</div>
                    <div class="name-img">
                      <a id="name-a" href=""
                        ><img
                          src="/assets/css3/arrow_top-right.png"
                          class="box-hlt img-a"
                          alt=""
                      /></a>
                    </div>
                  </div>
                </div>
              </div>
              <div id="review-right" class="review-parts">
                <div class="right-content">
                  <h4>
                    "We select to practice in Minerva since it is both
                    useful,and our clients basically adore it! It has stood the
                    test of time and proceeds"
                  </h4>
                  <p class="para-mid">
                    Abel Carden is a TikTok personality and lip-syn content
                    creator who has built a fanbase of more than 3.2 million
                    followers ont the platform
                  </p>
                </div>
              </div>
            </div>
            <div class="review-col">
              <div id="review-left" class="review-parts">
                <div class="img-div">
                  <img
                    class="img"
                    src="/assets/css3/testimonials-img.png"
                    alt=""
                  />
                  <div id="name-tag">
                    <div class="name">@mase.place</div>
                    <div class="name-img">
                      <a id="name-a" href=""
                        ><img
                          src="/assets/css3/arrow_top-right.png"
                          class="box-hlt img-a"
                          alt=""
                      /></a>
                    </div>
                  </div>
                </div>
              </div>
              <div id="review-right" class="review-parts">
                <div class="right-content">
                  <h4>
                    "We select to practice in Minerva since it is both
                    useful,and our clients basically adore it! It has stood the
                    test of time and proceeds"
                  </h4>
                  <p class="para-mid">
                    Abel Carden is a TikTok personality and lip-syn content
                    creator who has built a fanbase of more than 3.2 million
                    followers ont the platform
                  </p>
                </div>
              </div>
            </div>
          </div>
          <button id="next" class="arrow" onclick="nextSlide()">
            <img src="/assets/css3/arrow-right-2.png" alt="" />
          </button>
        </div>
      </div>
    </section>

    <section id="blog-section">
      <div class="container">
        <div id="blog-sec">
          <div id="blog-intro">
            <div id="blog" class="para-small">Blog</div>
            <h3>Stay Updated</h3>
          </div>
          <div id="blog-content">
            <div id="blog-left" class="blogs">
              <div id="left-img">
                <img
                  class="blog-img"
                  src="/assets/css3/Rectangle 19.png"
                  alt=""
                />
              </div>
              <div class="left-align">
                <div class="left para-small curve-border">Web design</div>
                <div>
                  <h4>We launch Minerva template this week</h4>
                  <p class="blog-para">
                    Build a unique website with HireX Template
                  </p>
                  <a class="blog-btn">Read More &#8594;</a>
                </div>
              </div>
            </div>
            <div id="blog-right" class="blogs">
              <div id="right-img">
                <img
                  class="blog-img"
                  src="/assets/css3/Rectangle 20.png"
                  alt=""
                />
              </div>
              <div class="right-align">
                <div class="right para-small curve-border">Web design</div>
                <div>
                  <h4>Introducing the non code webflow guide</h4>
                  <p class="blog-para">
                    Build a unique website with HireX Template
                  </p>
                  <a class="blog-btn">Read More &#8594;</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="news-section">
      <div class="container">
        <div id="news-sec">
          <div id="news-left" class="news-con">
            <h3>Get Our Lastest News And Update</h3>
            <form action="">
              <div id="inputs">
                <input
                  class="news-ip"
                  type="text"
                  name=""
                  id="news-name"
                  placeholder="NAME"
                />
                <input
                  class="news-ip"
                  type="text"
                  name=""
                  id="news-email"
                  placeholder="EMAIL"
                />
                <input
                  type="submit"
                  name="Subscribe"
                  id="news-submit"
                  value="SUBSCRIBE"
                />
              </div>
              <img
                id="news-arr"
                src="/assets/css3/arrow-right-black.svg"
                alt=""
              />
            </form>
          </div>
          <div id="news-right" class="news-con">
            <p class="para-mid">
              We select to practice in Minerva since it is both useful and
              common sense, and our client basically adore it
            </p>
            <a class="curve-border" id="news-book" href="">Book a call</a>
          </div>
        </div>
      </div>
    </section>

    <section id="access-section">
      <div class="container">
        <div id="access-sec">
          <div id="access-con">
            <div class="access">
              <h4>THANK YOU FOR YOUR VISIT!</h4>
            </div>
            <div id="access-img">
              <img src="/assets/css3/Line 4.png" alt="" />
            </div>
          </div>
          <div id="access-con">
            <div class="access">
              <h4>THANK YOU FOR YOUR VISIT!</h4>
            </div>
            <div id="access-img">
              <img src="/assets/css3/Group 59.png" alt="" />
            </div>
          </div>
          <div id="access-con">
            <div class="access">
              <h4>THANK YOU FOR YOUR VISIT!</h4>
            </div>
            <div id="access-img">
              <img src="/assets/css3/Line 4.png" alt="" />
            </div>
          </div>
          <div id="access-con">
            <div class="access">
              <h4>THANK YOU FOR YOUR VISIT!</h4>
            </div>
            <div id="access-img">
              <img src="/assets/css3/Group 59.png" alt="" />
            </div>
          </div>
          <div id="access-con">
            <div class="access">
              <h4>THANK YOU FOR YOUR VISIT!</h4>
            </div>
            <div id="access-img">
              <img src="/assets/css3/Line 4.png" alt="" />
            </div>
          </div>
          <div id="access-con">
            <div class="access">
              <h4>THANK YOU FOR YOUR VISIT!</h4>
            </div>
            <div id="access-img">
              <img src="/assets/css3/Group 59.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <div class="container">
        <div id="foot-sec">
          <img id="foot-logo" src="/assets/css3/HireX_black.png" alt="" />
          <hr />
          <div id="foot-con">
            <div class="foot-col">
              <p class="foot-head para-small">Products</p>
              <p class="foot-para para-mid">Platform</p>
              <p class="foot-para para-mid">Store Overview</p>
              <p class="foot-para para-mid">Email Reports</p>
              <p class="foot-para para-mid">Portfolio</p>
            </div>
            <div class="foot-head foot-col">
              <p class="foot-para para-small">Resources</p>
              <p class="foot-para para-mid">Case Studies</p>
              <p class="foot-para para-mid">Product Guides</p>
              <p class="foot-para para-mid">Reports</p>
              <p class="foot-para para-mid">Blog</p>
              <p class="foot-para para-mid">FAQ</p>
            </div>
            <div class="foot-head foot-col">
              <p class="foot-para para-small">Company</p>
              <p class="foot-para para-mid">Careers</p>
              <p class="foot-para para-mid">Contact Sales</p>
              <p class="foot-para para-mid">Contact Support</p>
            </div>

            <div class="foot-head foot-col">
              <p class="foot-para para-small">Partners</p>
              <p class="foot-para para-mid">Partner with us</p>
            </div>
          </div>
          <div id="copyright">
            <div id="copy-1">
              <div class="copies">Terms and conditions</div>
              <div class="copies">Privacy Policies</div>
            </div>
            <div>&copy; HireX, Inc. 2022</div>
          </div>
        </div>
      </div>
    </footer>

    <script src="script/CSSproject/CSS3_HireX.js"></script>
  </body>
</html>
