<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <div id="ip-holder">
        <form id="form">
          <div class="ip-fields">
            <label for="forgot_email">Email</label><br />
            <input type="text" name="forgot_email" id="forgot_email" />
            <span id="forgot_email_error" class="errors">Enter email</span>
          </div>
          <div class="ip-fields" id="submit-div">
            <input
              type="submit"
              value="Verify Email"
              id="submit"
              style="width: 150px"
            />
          </div>
        </form>
      </div>
    </div>
    <script src="script.js"></script>
  </body>
</html>
