<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <div id="ip-holder">
        <h1>You have been verified</h1>
        <h2>Set Password</h2>
        <form id="form">
          <input
            hidden
            type="text"
            name="hiddenid"
            id="hiddenId"
            value="<%=id%>"
          />
          <div class="ip-fields">
            <label for="password">Password</label><br />
            <input type="password" name="password" id="password" />
            <span id="password_error" class="errors">Enter Password</span>
          </div>
          <div class="ip-fields">
            <label for="confirmPass">Confirm Password</label><br />
            <input type="password" name="confirmPass" id="confirmPass" />
            <span id="confirmPass_error" class="errors"
              >Passwords do not match</span
            >
          </div>

          <div class="ip-fields" id="submit-div">
            <input type="submit" value="Submit" id="submit" />
          </div>
        </form>
      </div>
    </div>
    <script src="script.js"></script>
  </body>
</html>
