<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div style="height: 100vh">
      <div id="mess-holder">
        <p>Your Link has expired</p>
        <p>Click on below link to activate your account</p>
        <a href="<%=link%>"><%=link%></a>
      </div>
    </div>
  </body>
</html>
