<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dynamic grid</title>
    <style>
      table,
      td {
        height: 20px;
        width: 20px;
        padding: 20px;
      }
      div {
        display: flex;
      }
      table,
      tr,
      td {
        border: 1px solid black;
      }
      button {
        height: 50px;
        width: 50px;
      }
      tr:nth-of-type(even) td:nth-of-type(even),
      tr:nth-of-type(odd) td:nth-of-type(odd) {
        background: turquoise;
      }

      tr:nth-of-type(odd) td:nth-of-type(even),
      tr:nth-of-type(even) td:nth-of-type(odd) {
        background: #e6e6fa;
      }
      footer {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div id="tableDiv">
      <table id="tb">
        <tr id="fr">
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
        </tr>
      </table>
      <div><button onclick="addRow()">row+</button></div>
      <div><button onclick="removeRow()">row-</button></div>
    </div>
    <div><button onclick="addCol()">col+</button></div>
    <div><button onclick="removeCol()">col-</button></div>
    <footer>Abhishek Verma 24DEV035 01/02/2024</footer>
    <script>
      function addRow() {
        const table = document.querySelector("#tb");
        // console.log(table);
        let tf = document.getElementById("fr");
        let count_td = tf.childElementCount;
        // console.log(count_td);
        let tr = document.createElement("tr");
        for (let index = 1; index <= count_td; index++) {
          //   let fr = document.getElementById("fr");
          const td = document.createElement("td");
          tr.appendChild(td);
        }
        table.appendChild(tr);
      }
      function addCol() {
        let trs = document.querySelectorAll("#tb tr");
        // let rows = Array.from(table.rows);
        // console.log(trs);
        for (let tr of trs) {
          let td = document.createElement("td");
          tr.appendChild(td);
        }
      }
      function removeRow() {
        let table = document.getElementById("tb");
        let count_tr = table.rows.length;
        console.log(count_tr);
        if (count_tr > 2) {
          table.deleteRow(count_tr - 1);
        }
      }
      function removeCol() {
        let trs = document.querySelectorAll("#tb tr");
        console.log(trs[0].cells.length);

        if (trs[0].cells.length > 2) {
          for (let tr of trs) {
            tr.removeChild(tr.lastChild);
          }
        }
      }
    </script>
  </body>
</html>
